<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>




</head>

<body>


    <% include ../partials/nav.ejs %>

        <div class="container">

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <questions>

                    </questions>
                </div>
            </div>
            <!-- row -->
        </div>

        <button onclick="ClassQ()">Class-Based</button>
        <button onclick="PropertyQ()">Property-Based</button>
        <button onclick="TermenologyQ()">Termenology-Based</button>
        <button onclick="Quiz()">AttemptQuizNow</button>

        <script>


            var submit = $(`<button onclick="submitAnswer()" style="width:800px; margin:600 auto;">SubmitAnswer </button>`)

            let mayBeTopic = location.href.split("questions/")[1];
            let topic = mayBeTopic ? mayBeTopic.split("?")[0] : "";
            let url = "/api/topics" + (topic ? `/${topic}` : "") + "/questions";

            var allQuestionsElement = $("questions");
            $.ajax({
                url: url,
                dataType: "json",
                accepts: "application/json"
            }).then(response => {
                let questions = JSON.parse(response);
    
               let NonEmptyQuestions = questions.filter(question =>
                        question.questionBody !== null );

              
               


               _.shuffle( _.uniq(NonEmptyQuestions)).forEach((question, k) => {


                    var questionElement = $(`<ul data-question-index="${k}"/>`).data("question", question);


                    $("<h3>").text(question.questionBody).appendTo(questionElement);
                    let div = $(`<div style="background-color:lightyellow;float: right;  text-align: center;padding: 10px;" >
                            <h5 > strategy : ${question.strategy} </h5>
                                    <h5 > Bloom's Level : ${question.bloomLvl} </h5>
                                     </div>`);


                    div.appendTo(questionElement);


                   var correctAnswer = question.choices.pop();
                 var selectedChoices = question.choices.slice(0,3).concat([correctAnswer]);
                    selectedChoices.forEach((choice, ci) => {
                        //  ul.appendChild(ul.children[Math.random() * i | 0])
                        let choiceElement = $(`<li><input type='radio'  data-choice-index="${ci}" name="questions[${k}] " /> <label>${choice.text}</label></li>`);
                        choiceElement.appendTo(questionElement);
                         choice.id = ci ;

                    });



                



                    questionElement.appendTo(allQuestionsElement);









                    
                 });

     








            });

            function ClassQ() {

    $.ajax({
                    url: url,
                    dataType: "json",
                    accepts: "application/json"
                }).then(response => {
                    let questions = JSON.parse(response);
                    //  var ch = questions[0].choices;
                    let classQuestions = questions.filter(question =>
                        question.strategy == "Class-Based with superclasses" ||  question.strategy == "Class-Based with subclasses" ||  question.strategy =="Class-Based with disjoint sibling classes" );

                    allQuestionsElement.html("")
                    classQuestions.forEach((question, k) => {
                        var questionElement = $(`<ul data-question-index="${k}"/>`).data("question", question);
                        $("<h3>").text(question.questionBody).appendTo(questionElement);
                        //  $("<h5  style ='visibility: hidden;'>").text(question.strategy).appendTo(questionElement);


                        _.shuffle(question.choices).slice(0, 4).forEach((choice, ci) => {
                            //  ul.appendChild(ul.children[Math.random() * i | 0])
                            let choiceElement = $(`<li><input type='radio'  data-choice-index="${ci}" name="questions[${k}] " /> <label>${choice.text}</label></li>`);
                            choiceElement.appendTo(questionElement);
                        });

                        questionElement.appendTo(allQuestionsElement);
                    });
                });



             
             
            }



            function PropertyQ() {


                $.ajax({
                    url: url,
                    dataType: "json",
                    accepts: "application/json"
                }).then(response => {
                    let questions = JSON.parse(response);
                    //  var ch = questions[0].choices;
                    let classQuestions = questions.filter(question =>
                        question.strategy == "property"||question.strategy == "Object-property-based" ||question.strategy ==" Datatype-property-based ");

                    allQuestionsElement.html("")
                    classQuestions.forEach((question, k) => {
                        var questionElement = $(`<ul data-question-index="${k}"/>`).data("question", question);
                        $("<h3>").text(question.questionBody).appendTo(questionElement);
                        //  $("<h5  style ='visibility: hidden;'>").text(question.strategy).appendTo(questionElement);


                        _.shuffle(question.choices).slice(0, 4).forEach((choice, ci) => {
                            //  ul.appendChild(ul.children[Math.random() * i | 0])
                            let choiceElement = $(`<li><input type='radio'  data-choice-index="${ci}" name="questions[${k}] " /> <label>${choice.text}</label></li>`);
                            choiceElement.appendTo(questionElement);
                        });

                        questionElement.appendTo(allQuestionsElement);
                    });
                });





            }


            var testQ;
            function TermenologyQ() {


                $.ajax({
                    url: url,
                    dataType: "json",
                    accepts: "application/json"
                }).then(response => {
                    let questions = JSON.parse(response);
                    //  var ch = questions[0].choices;
                    let NonEmptyQuestions = questions.filter(question =>
                        question.questionBody !== null );
                    let classQuestions = NonEmptyQuestions.filter(question =>
                        question.strategy == "Terminology");

                    allQuestionsElement.html("")
                    classQuestions.forEach((question, k) => {
                        var questionElement = $(`<ul data-question-index="${k}"/>`).data("question", question);
                        $("<h3>").text(question.questionBody).appendTo(questionElement);
                        //  $("<h5  style ='visibility: hidden;'>").text(question.strategy).appendTo(questionElement);



                        _.shuffle(question.choices).forEach((choice, ci) => {
                            //  ul.appendChild(ul.children[Math.random() * i | 0])
                            let choiceElement = $(`<li><input type='radio'  data-choice-index="${ci}" name="questions[${k}] " /> <label>${choice.text}</label></li>`).data("choice", choice);
                            choiceElement.appendTo(questionElement);
                        });

                        questionElement.appendTo(allQuestionsElement);
                    });
                });





            }

            var QuizQuestions;
            function Quiz() {

                $.ajax({
                    url: url,
                    dataType: "json",
                    accepts: "application/json"
                }).then(response => {
                    let questions = JSON.parse(response);


                    allQuestionsElement.html("")

                    allQuestionsElement.data("questions", questions);
                    let NonEmptyQuestions = questions.filter(question =>
                        question.questionBody !== null );

                    QuizQuestions = _.shuffle(NonEmptyQuestions).slice(0, 10)

                    QuizQuestions.forEach((question, k) => {
                        var questionElement = $(`<ul data-question-index="${k}"/>`).data("question", question);
                        $("<h3>").text(question.questionBody).appendTo(questionElement);
                        //  $("<h5  style ='visibility: hidden;'>").text(question.strategy).appendTo(questionElement);

                       var correctAnswer = question.choices.pop();
                 var selectedChoices = question.choices.slice(0,3).concat([correctAnswer]);
                    _.shuffle(selectedChoices).forEach((choice, ci) => {
                            //  ul.appendChild(ul.children[Math.random() * i | 0])
                            let choiceElement = $(`<li><input type='radio'  data-choice-index="${ci}" name="questions[${k}] " />  <label>${choice.text}</label></li>`).data("choice", choice);
                            choiceElement.appendTo(questionElement);
                            choice.id = ci;
                        });
                        questionElement.appendTo(allQuestionsElement);

                    });


                    submit.appendTo(allQuestionsElement)
                });
            }




            function submitAnswer() {
                var temp1, selectedAnswerEl,choiceE;
                var selectedAnswerEls = $(`ul[data-question-index]`).find("input:checked");
                    $.each(selectedAnswerEls, (index,selectedAnswerEl)=>{
                    let questionEl  = $ (selectedAnswerEl).closest("ul");
                    let question = questionEl.data("question");

                     choiceE = $(selectedAnswerEl).closest("li").data("choice") ;
                    temp1 = question.choices.find(c => c.isCorrectAnswer);

                    if (choiceE.id !== temp1.id && choiceE!== null ) {
                        questionEl.closest("ul").append(`<p class='alert alert-warning'> Your answer is wrong <br />
 The correct answer is ${temp1.text}
 <br />
 ${question.keyFeedback}
 <br />
${choiceE.feedBack}
  </p>`)
                    }

                    else questionEl.closest("ul").append(`<p class='alert alert-warning'>  Your answer is correct

    <br />
 ${question.keyFeedback}

 </p>`)

                });




            }




        </script>
</body>

</html>